WprowadzenieXML/osoby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="osoby"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/osoby.xsd"
    xmlns:mstns="http://tempuri.org/osoby.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="uczestnicy">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="osoba" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="przedmiot" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="nazwa" type="xs:string" use="required"/>
									<xs:attribute name="ileGodzin" type="xs:positiveInteger" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>

						<xs:attribute name="lp" type="xs:positiveInteger" use="required"/>
						<xs:attribute name="nazwisko" type="xs:string" use="required"/>
						<xs:attribute name="imię" type="xs:string" use="required"/>
						<xs:attribute name="rok" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="2000"/>
									<xs:maxInclusive value="2026"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						
						<!-- tutaj trzeba dopisać atrybuty dla stypendium, kierunek i dojazd -->
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
